 .landing-section {
  width: 100vw;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 18px;
  box-sizing: border-box;
}

.landing-title {
  font-family: 'GildaDisplay', serif;
  color: #B1732A;
  font-size: 2.1rem;
  text-align: center;
  letter-spacing: 0.12em;
  margin-bottom: 18px;
  font-weight: 400;
  word-break: keep-all;
  white-space: normal;
  margin-bottom: 8px;
}

.landing-main-text {
  font-family: 'Poppins';
  color: #683B06;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 22px;
  font-weight: 400;
  max-width: 700px;
  line-height: 1.35;
  word-break: break-word;
  white-space: normal;
}

.landing-verse {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  color: #B1732A;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.08em;
  margin-top: 12px;
  word-break: keep-all;
  white-space: normal;
}

.landing-history {
  color: #644017;
  font-family: 'Gilroy-Light', serif;
  font-size: xx-large;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-top: 0px;
  margin-bottom: 0;
  word-break: keep-all;
  white-space: nowrap;
}